.rectangle, .box {
	border: 1px solid black;
}
.rectangle.green {
	background-color: green;
	float: left;
}

.blue.rectangle {
	background-color: blue;
	float: right;
}

.grey.box {
	background-color: grey;
}

.black.box {
	background-color: black;
}

.orange.box {
	background-color: orange;
}

.rectangle {
	display: inline-block;
	width: 50%;
	font-size: 0;
	height: 200px;
}

.box {
	display: inline-block;
	height: 300px;
	width: 30%;
	
}

.rectangle, .box {
	margin-left: 0px;
	margin-right: 0px;
	padding-left: auto;
	padding-right: auto;
}

body {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 60px;
	font-size: 0;
}